<%- include partials/header.ejs %>
<div class="container main">
<h2>Error</h2>
<h3><%- message %></h3>
<p>Please double check the order again to confirm there are items in the order.</p>
</div>
<%- include partials/footer.ejs %>