<header>
  <!-- navigation bar -->
  <nav>
    <span class="title"> LightEats </span>

      <div class="nav-tweet"><strong>Write</strong> a new tweet</div>
      <div class="close-tweet toggle"><strong>Close</strong> tweet box</div>
      <div class="icon"><i class="fa-solid fa-angles-down"></i></div>

  </nav>
</header>
