<header>
  <!-- navigation bar -->
  <nav>
    <a href="/menu" >Menu</a>
    <img class = "logo", src ="https://irp.cdn-website.com/a9e4f39a/DESKTOP/png/the-slice-house-logo.png">

    <div class="nav-links">
      <a href="/users/login" >Login</a>
      <a href="/users/register" >Register</a>
    </div>
    

  </nav>
</header>
