// See: https://sass-lang.com/
body {
  background-color: rgb(250, 250, 250);
  text-transform: capitalize; 
}

header {
  margin-top: 0px;
  height: 100px;
  background-color:transparent;
};

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: larger;
  align-items: flex-start;
};

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 20em;
};

button {
  border: transparent;
  background-color:  transparent;
  cursor: pointer;
  font-weight: bolder;
}

button:hover {
  background-color: #8e3e87;
  color: white;
}

.home {
  width: 50px;
  cursor: pointer;
}