// See: https://sass-lang.com/
body {
  text-transform: capitalize;
  color: #000;
}

main {
  margin-top: 100px;
}

header {
  height: 50px;
  background-color: transparent;
  position:fixed;
  width:100%;
  top: 0;

};

nav {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-size: larger;
  align-items: flex-start;
};

nav.scroll {
  height: 50px;
  background-color: rgb(255, 30, 0);
}

#cart-button {
  font-size:22px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  max-width: 20em;
};

nav button {
  border: transparent;
  background-color:  transparent;
  cursor: pointer;
  font-weight: bolder;
  color: rgb(255, 255, 255);
}

nav button:hover {
  color: rgb(141, 82, 82);
}

.home {
  width: 50px;
  cursor: pointer;
}

.intro2 {
  display:flex;
  justify-content: center;
  margin-top: 5%;
}

.featured-items {
  margin: 10% 5%;
}

.cards {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: inline mandatory;
  scroll-behavior: smooth;
  transition: all 750ms ease;

}
.card {
  flex-shrink: 0;
  flex-basis: 15em;
  scroll-snap-align: start;
  padding: 1%;
}


footer {
  display: flex;
  height: 150px;
  background-color: rgb(207, 204, 204);

}

#footer-logo {
  padding: 2%;
}
.resturant-info {
  font-weight:700;
  width: 35%;

}

footer button {
  background-color: transparent;
  border: none;
  font-size: medium;
  cursor: pointer;
  color: rgb(131, 130, 130);
}

.footer-list {
  display:flex;
  flex-direction: column;
  align-items: flex-start;
}

.css-gum15l {
  display: flex;
  width:50%;
}

.css-173idjp {
margin-top: 10px;
}

.css-ouid3g {

}
