* {
  font-family: "Montserrat", sans-serif;
}
a:link {
  color: #f3d4d4;
  text-decoration: none;
}
a:visited {
  color: #cc0000;
}

a:hover {
  color: rgb(141, 82, 82);
}


#login-modal
{
  background-color: #efefef;
}



.close-modal-link
{
  font-size: .6em;
  margin-top: 2em;
}


.hero {
  background: url(../images/pizza-hero.jpg) no-repeat center;

  background-size: cover;
  height: 100vh;
  width: 100%;
}
.hero > .box {
  background-color: rgba(0, 0, 0, 0.2);
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 25;
}
.hero > .box > h1 {
  color: #fff;
  font-size: 5em;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.hero > .box > p {
  color: #fff;
  font-size: 2em;
  font-weight: 400;
}
.hero > .box > button {
  background-color: #cc0000;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
}

.hero > .box > button:hover {
  background-color: #fff;
  color: #cc0000;
  border: 1px solid #cc0000;
  transition: 0.5s;
}
