// See: https://sass-lang.com/
body {
  color: #000;
  padding-top: 50px;
}

.title {
  font-family: "Montserrat", sans-serif;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
  color: rgb(255, 255, 255);
}

body .confirmation-message {
  text-transform:initial;
  background:#f4f8fc;
  padding:5rem 4rem;;
  border-radius:12px;
  max-width:900px;
  margin:0 auto;
}

h3.confirmation-message {
  font-weight: 100;
}

table.table {
  text-align: center;
  color: #000;
}

.total {
  border-top: #000 2px dotted;
  text-align: center;
}
